body{
    background-color: pink;
}

.lf {
    
    float: right;
    max-width: 400px;
    height: 400px;
    margin-left: 20%;
}

.imagemywinna {
    float: left;
    background-color: rgb(179, 255, 255);
    max-width: 400px;
    height: 400px;
    margin: auto;
}
.caixa-clicavel {
    
    align-items: center;
    float: center;
    background-color: crimson;
}

.caixa-clicavel2 {
    
    align-items: center;
    float: center;
    background-color: #F7C8A1;
}



